<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <object th:include="fragments/fragment :: head" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Permintaan Pembukaan Cabang</div>
                <div class="card-body">
                    <h5> Request kamu sudah dikirimkan ke SI-Retail </h5>
                    <a class="btn btn-primary" href="/">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

