<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Coupon</title>
    <object th:include="fragments/fragment :: head" th:remove="tag"></object>
</head>


<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-biru text-white"><h4 class="text-center">Update Coupon</h4></div>
                <div class="card-body">
                    <form th:action="@{/coupon/update}" th:object="${coupon}" method="POST">
                        <input type="hidden" th:field="*{id}" />

                        <label>Coupon Name</label>
                        <input type="text" th:value="*{couponName}" name="couponName" maxlength="20" class="form-control">

                        <br>
                        <input type="hidden" th:field="*{couponCode}" />
                        <label>Coupon Code</label>
                        <input disabled type="text" th:value="*{couponCode}" name="couponCode" class="form-control">

                        <br>
                        <input type="hidden" th:field="*{creator.uuid}" />
                        <label>Creator</label>
                        <input disabled type="text" th:value="*{creator.username}" class="form-control">

                        <br>
                        <label>Discount</label>
                        <input type="number" th:value="*{discountAmount}" min="0" max="100" maxlength="3" name="discountAmount" class="form-control">

                        <br>
                        <label>Status</label>
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   th:field="*{status}"
                                   th:value="*{status}"
                                   id="status">
                            <label class="form-check-label" for="status">Disetujui</label>
                        </div>


                        <br>
                        <label>ExpiryDate</label>
                        <input type="date" th:value="*{expiryDate}" name="expiryDate" class="form-control">

                        <br>
                        <label>Coupon Type</label>
                        <div class="card p-md-2">
                            <div class="form-check" th:each="type, iterationStatus : ${listCouponType}">
                                <input class="form-check-input"
                                       type="checkbox"
                                       th:field="*{listType}"
                                       th:value="${type.id}"
                                       th:id="${type.id}">
                                <label class="form-check-label" th:for="${type.id}" th:text="${type.useDay}"></label>
                            </div>
                        </div>

                        <br>
                        <a class="btn btn-link" href="/coupon/viewall">Back</a>
                        <button type="submit" class="btn btn-warning">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>