<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="fragments/fragment :: head" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container">
    <br>
    <h1 class="text-center">Home</h1>
    <br>
    <div class="d-flex justify-content-center">
        <a th:href="@{/user/viewall}" class="mx-2 btn btn-primary">Lihat Daftar User</a>
    </div>

    <div class="col">

    </div>

</div>

</body>
</html>