<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="fragments/fragment :: head" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="d-flex justify-content-center" style="padding-top: 70px;">
    <div class="m-4">
        <h1 style="text-align:center" th:text="'Hello ' + ${#httpServletRequest.remoteUser} + '!'">Login as</h1>
        <h1 style="text-align:center">
            <span class="mr-2">Selamat datang di</span>
            <span class="sibusiness">SI-Business.</span>
        </h1>
        <p style="text-align:center">Sebuah sistem informasi yang dibangun untuk mengelola bisnis, khususnya bisnis APAP.</p>
        <div class="my-3 mt-4 d-flex justify-content-center">
            <a href="#" class="btn btn-primary">Button</a>
            <a th:href="@{/user/viewall}" class="mx-2 btn btn-outline-primary">Lihat Daftar User</a>
        </div>
    </div>
</div>
</body>
</html>