<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <title> Home </title>
  <object th:include="fragments/fragment :: head" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
  <br>
  <h2>Daftar Seluruh User</h2>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Role</th>
      <div sec:authorize="hasAuthority('Manager Business')">
        <th></th>
        <th>Action</th>
      </div>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${listUser}">
      <td th:text="${user.uuid}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.role.role}"></td>
        <td>
          <a class="btn btn-primary" sec:authorize="hasAuthority('Manager Business')" th:href="@{/user/update/} + ${user.username}">Update User</a>
        </td>
        <td>
          <a class="btn btn-outline-primary" sec:authorize="hasAuthority('Manager Business')" th:href="@{/user/update/role/} + ${user.username}">Update Role</a>
        </td>
    </tr>
    </tbody>
  </table>
  <br>
  <div class="d-flex justify-content-right">
    <a class="mx-2 btn btn-primary" sec:authorize="hasAuthority('Manager Business')" th:href="@{/user/add/}">Add User</a>
    <a class="mx-2 btn btn-primary" href="/">Home</a>
  </div>
</div>
</div>
<br>

</body>

</html>