<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="fragments/fragment :: head" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <br>
    <h2>Daftar Permintaan Pembuatan Coupon</h2>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Code</th>
            <th>Discount</th>
            <th>Expiry Date</th>
            <th>Creator</th>
            <th>Status</th>
            <div sec:authorize="hasAuthority('Staff_Marketing')">
                <th></th>
                <th>Action</th>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each="coupon, iterationStatus: ${listCoupon}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${coupon.couponName}"></td>
            <td th:text="${coupon.couponCode}"></td>
            <td th:text="${coupon.discountAmount}"></td>
            <td th:text="${coupon.expiryDate}"></td>
            <td th:text="${coupon.creator.username}"></td>
            <td th:if="${coupon.status == true}" th:text="'Disetujui'"></td>
            <td th:if="${coupon.status == false}" th:text="'Belum Disetujui'"></td>
            <div sec:authorize="hasAuthority('Staff_Marketing')">
                <!--fitur nomor 10-->
                <td>
                    <a class="btn btn-primary" th:href="@{/coupon/accept-request/} + ${coupon.id}">Setuju</a>
                </td>
                <!--fitur nomor 11-->
                <td>
                    <a class="btn btn-danger" th:href="@{/coupon/delete-type/} + ${coupon.id}">Hapus</a>
                </td>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</div>
<br>

</body>

</html>